<!DOCTYPE html>
<html>
  <head>
    <title>Wedding Ceremany</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/reset.css" type="text/css" media="all">
<link rel="stylesheet" href="/css/layout.css" type="text/css" media="all">
<link rel="stylesheet" href="/css/style.css" type="text/css" media="all">
<link href="https://fonts.googleapis.com/css?family=Supermercado+One" rel="stylesheet">
<script type="text/javascript" src="/js/jquery-1.6.js" ></script>
<script type="text/javascript" src="/js/cufon-yui.js"></script>
<script type="text/javascript" src="/js/cufon-replace.js"></script>  
<script type="text/javascript" src="/js/Josefin_Sans_400.font.js"></script>
<script type="text/javascript" src="/js/Tangerine_700.font.js"></script>
<script type="text/javascript" src="/js/atooltip.jquery.js"></script> 
<script type="text/javascript" src="/js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="/js/script.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.1.0/font-awesome-animation.css">

    <%= csrf_meta_tags %>

    <%#= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="page1">

    <%= yield %>


   <script type="text/javascript"> Cufon.now(); </script>

</body>
</html>
<style type="text/css">
  h3
  {
    font-family: 'Supermercado One', cursive;
    font-size: 32px;
    display: inline;
    padding-top: 30px;
    padding-bottom: 30px;
  }
.pad
{
  text-align: center;
}
g
{
  font-family: 'Supermercado One', cursive;
    font-size: 32px;
}
</style>
